<div class="alert <%= msg_type %>" data-controller="alert">
    <div class="container">
        <button class="close" data-action="alert#close"><span>x</span></button>
        <%= message %>
    </div>
</div>
